@use "../../variables" as *;

.main {
  text-align: center;
  margin-top: 2rem;
  height: 80vh;
  overflow-x: hidden;

  h1 {
    color: #122f97;
    font-family: "Source Sans 3", sans-serif;
    font-size: 3rem;
  }
}

.lectures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  article {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      gap: 1rem;
    }

    img {
      width: 400px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }

    h2 {
      font-size: $size-3xl;
    }

    h2,
    p {
      color: #122f97;
    }

    h2,
    button {
      font-family: "Source Sans 3", sans-serif;
    }

    p {
      font-family: "Inter", sans-serif;
    }

    button {
      background-color: #205691;
      color: #fff;
      font-size: $size-xl;
      font-weight: 500;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      margin-top: 1rem;
      transition: 0.3s;
      cursor: pointer;
    }

    button:hover {
      background-color: #122f97;
    }
  }

  article:not(:last-child) {
    border-right: solid 1px #cbcbcb;
  }
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .main {
    h1 {
      font-size: $size-4xl;
    }
  }

  .lectures {
    article {
      overflow-x: hidden;
      img {
        width: 300px;
      }

      h2 {
        font-size: $size-2xl;
      }

      p {
        font-size: $size-sm;
        max-width: 300px;
      }

      button {
        font-size: $size-base;
      }
    }
  }
}

/* lg */
@media (max-width: 1024px) {
  .lectures {
    article {
      img {
        width: 100%;
        border-radius: 0;
      }

      h2 {
        font-size: $size-xl;
      }

      p {
        font-size: $size-xs;
        max-width: 250px;
      }

      button {
        font-size: $size-sm;
        padding: $size-sm;
      }
    }
  }
}

/* md */
@media (max-width: 768px) {
  .main {
    height: 80vh;
  }

  .lectures {
    display: flex;
    flex-direction: column;

    article {
      justify-content: space-around;
      img {
        width: 100%;
        border-radius: 10px;
      }

      h2 {
        font-size: $size-2xl;
      }

      p {
        font-size: $size-sm;
        max-width: 100%;
      }

      button {
        font-size: $size-base;
        padding: $size-base;
      }
    }
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
