.main {
  text-align: center;
  margin-top: 2rem;

  h1 {
    color: #122f97;
    font-family: "Source Sans 3", sans-serif;
    font-size: 3rem;
  }
}

.lectures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  article {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      gap: 1rem;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }

    h2,
    p {
      color: #122f97;
    }

    h2,
    button {
      font-family: "Source Sans 3", sans-serif;
    }

    p {
      font-family: "Inter", sans-serif;
    }

    button {
      background-color: #205691;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      margin-top: 1rem;
      transition: 0.3s;
      cursor: pointer;
    }

    button:hover {
      background-color: #122f97;
    }
  }

  .border {
    border-right: solid 1px #cbcbcb;
  }
}
