.header {
  background-color: #205691;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .imgLogo {
    max-width: 65px;
    max-height: 50px;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  .Link {
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 20px;
  }
}

.imgUser {
  width: 50px;
  height: 50px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  cursor: pointer;
}

.navUser {
  background-color: #205691;
  position: absolute;
  right: 0;

  a {
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    display: block;
    padding: 5px 10px;
    text-align: end;
  }
}

.closedNavUser {
  display: none;
}

@media (max-width: 400px) {
  .header .imgLogo {
    max-width: 57px;
  }
}
