@use "../../variables" as *;

.header {
  background-color: #205691;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;

  .imgLogo {
    max-width: 65px;
    max-height: 50px;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  .Link {
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    font-size: $size-base;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    transition:
      background-color 0.3s,
      color 0.3s;
    line-height: 1.2;
  }

  .Link:hover {
    background-color: rgba(233, 239, 244, 0.7);
    color: #205691;
  }
}

.imgUser {
  width: 50px;
  height: 50px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  cursor: pointer;
}

.navUser {
  background-color: #205691;
  position: absolute;
  right: 0;

  a {
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    display: block;
    padding: 5px 10px;
    text-align: end;
  }
}

.closedNavUser {
  display: none;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .nav {
    .Link {
      font-size: $size-sm;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav {
    justify-content: space-around;
    .Link {
      font-size: $size-xs;
    }
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
